/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/fonts/*
!/storage/fonts/default
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
