.pointer-cursor {
    cursor: pointer;
}

.btn.rounded {
    border-radius: 25px !important;
    padding: 12px;
}

.color-preview {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
}