html {
    overflow: auto !important;
}

.card, .v-dialog:not(.v-dialog--fullscreen) {
    border: none !important;
    // box-shadow: 0 3px 20px rgb(29 38 38 / 5%) !important;
    border-radius: 4px !important;

    .card-body:not(.padding) {
        padding: 0 !important;
    }
}

.v-dialog {
    .v-card:not(:has(.v-card__title)) {
        padding-top: 20px !important;
    }
}

.invalid-feedback {
    display: block;
}

.input-group {
    padding: 7px;
    border-radius: 4px;

    &:not(.custom-shadow) {
        border: 1px solid #e4e4e4;
    }

    &.custom-shadow {
        box-shadow: 0 3px 16px #0000000d !important;
    }
    
    input {
        color: $black;
        font-size: 16px !important;
        border: none;
        box-shadow: none !important;
        margin-right: 12px !important;
    }
    
    textarea {
        color: $black;
        font-size: 16px !important;
        border: none !important;
        margin: 0 6px;
        box-shadow: none !important;
    }

    .input-group-prepend * {
        background: #fff;
        border: none;
    }

    .input-group-append * {
        background: #fff;
        border: none;
    }
}

.v-menu__content {
    box-shadow: 0 3px 16px #0000000d !important;
}

.v-text-field {
    border-radius: 4px !important;
    padding: 0 !important;

    &:not(.custom-shadow) {
        border: 1px solid #e4e4e4 !important;
    }

    input {
        color: $black !important;
        font-size: 16px !important;
    }

    &.custom-shadow {
        box-shadow: 0 3px 16px #0000000d !important;
    }

    .v-input__slot {
        box-shadow: none !important;
        padding-left: 20px !important;
    }
}

.v-select {
    border-radius: 4px !important;
    padding: 2px !important;

    &:not(.custom-shadow) {
        box-shadow: none !important;
        border: 1px solid #e4e4e4 !important;
    }

    &.custom-shadow {
        box-shadow: 0 3px 16px #0000000d !important;
    }

    input, label {
        color: $black !important;
        font-size: 16px !important;
    }

    .v-input__control div[role="combobox"] {
        box-shadow: none !important;
        padding-left: 20px !important;
    }
}

.v-tab {
    background: #f9fafc !important;
    color: $black !important;
    text-decoration: none !important;

    &:first-child {
        border-radius: 4px 0 0 4px;
    }

    &:last-child {
        border-radius: 0 4px 4px 0;
    }

    &.v-tab--active {
        background: $blue !important;
        color: #fff !important;
    }
}

.v-divider.strong {
    border-width: 1.2px !important;
    border-color: #a0a0a0 !important;
}

.programmation-tabs .v-item-group {
    margin-left: auto;
}

label {
    font-size: 18px !important;
}

.v-input--switch {
    label {
        margin: 0 !important;
    }
}

.v-tab, .v-btn {
    font-size: 17px !important;
    font-weight: 300 !important;
    letter-spacing: normal !important;
    text-transform: none !important;
}

.programmation-period .v-btn {
    font-size: 12px !important;
}

.theme--light.v-application {
    background: $body-bg !important;
    font-family: $font-family-sans-serif !important;
    line-height: normal !important;
    letter-spacing: normal !important;
}

.headline {
    font-family: $font-family-sans-serif !important;
    letter-spacing: normal !important;
}

.v-expansion-panel {
    &::before {
        box-shadow: none !important;
    }

    &::after {
        border: none !important;
    }

    .v-expansion-panel-header, 
    .v-expansion-panel-content__wrap {
        padding: 0 !important;
    }

    .v-expansion-panel-header__icon i {
        font-size: 16px !important;
    }
}


.v-data-table {
    border: 1px solid #e4e4e4;
    border-radius: 4px !important;
    // box-shadow: 0 5px 30px rgb(0 0 0 / 4%);

    .v-data-table__wrapper {
        border-radius: 4px !important;
    }
    
    .v-data-table-header {
        background-color: #f9fafc;

        th {
            border-bottom: 1px solid #e4e4e4 !important;
            padding: 20px !important;

            i {
                margin-left: 5px;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 20px !important;
            }
        }
    }
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ffffff !important;
}

.v-data-table-header {
    background-color: #fff !important;

    th {
        font-size: 15px !important;
        font-weight: 400 !important;
    }
}

.v-pagination li button {
    box-shadow: none !important;
}

.nav-link.dropdown-toggle::after {
    display: none !important;
}

.navbar-brand {
    font-size: 25px !important;
    font-weight: 400 !important;
}