html {
    overflow: auto !important;
}

.btn.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

body {
    background-color: var(--background-color) !important;
}

.card, .v-dialog:not(.v-dialog--fullscreen) {
    background-color: var(--background-color) !important;
    border: none !important;
    border-radius: 4px !important;

    .card-body:not(.padding) {
        padding: 0 !important;
    }
}

.v-card, .v-window {
    background-color: var(--background-color) !important;
}

.v-dialog {
    .v-card__title, .v-icon.fa-times, .v-card__text {
        color: var(--font-color) !important;
    }

    .v-card__text {
        padding: 0 12px 12px !important;
    }

    .v-card:not(:has(.v-card__title)) {
        padding-top: 20px !important;
    }
}

.invalid-feedback {
    display: block;
}

.input-group {
    padding: 7px;
    border-radius: 4px;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    
    input {
        color: var(--font-color);
        font-size: 18px !important;
        border: none;
        box-shadow: none !important;
        margin-right: 12px !important;
        background: var(--background-color);

        &:focus {
            background: var(--background-color) !important;
        }
    }
    
    textarea {
        color: var(--font-color);
        font-size: 18px !important;
        border: none !important;
        margin: 0 6px;
        box-shadow: none !important;
        background: var(--background-color);
        
        &:focus {
            background: var(--background-color) !important;
        }
    }

    .input-group-prepend * {
        background: var(--background-color);
        color: var(--font-color);
        border: none;
    }

    .input-group-append * {
        background: var(--background-color);
        color: var(--font-color);
        border: none;
    }
}

.v-menu__content {
    box-shadow: 0 3px 16px #0000000d !important;
}

.v-text-field {
    border-radius: 4px !important;
    padding: 0 !important;
    background: var(--background-color);
    border: 1px solid var(--border-color);

    input {
        background: var(--background-color);
        color: var(--font-color) !important;
        font-size: 18px !important;
        
        &:focus {
            background: var(--background-color) !important;
        }
    }

    .v-input__slot {
        background: var(--background-color) !important;
        box-shadow: none !important;
        padding-left: 20px !important;
    }
}

.v-select {
    border-radius: 4px !important;
    padding: 2px !important;

    input, label {
        color: var(--font-color) !important;
        font-size: 18px !important;
    }

    input:focus {
        background-color: var(--background-color) !important;
    }

    .v-input__control div[role="combobox"] {
        box-shadow: none !important;
        padding-left: 20px !important;
    }

    .v-input__append-inner .v-icon:not(.primary--text)  {
        color: var(--font-color) !important;
    }

    .v-select__selections {
        color: var(--font-color) !important;
        
        .v-select__selection {
            color: var(--font-color) !important;
        }
    }
}

.v-list.v-select-list {
    background: var(--background-color) !important;

    .v-list-item__content {
        color: var(--font-color) !important;
    }

    .v-list-item__title {
    }

    .v-list-item__action .v-simple-checkbox .v-icon:not(.primary--text) {
        color: var(--font-color) !important;
    }
}

.v-tab {
    background: var(--background-accent) !important;
    color: var(--font-color) !important;
    text-decoration: none !important;

    &:first-child {
        border-radius: 4px 0 0 4px;
    }

    &:last-child {
        border-radius: 0 4px 4px 0;
    }

    &.v-tab--active {
        background: var(--primary-color) !important;
        color: var(--white-color) !important;
    }
}

.v-divider.strong {
    border-width: 1.2px !important;
    border-color: var(--border-color) !important;
}

.programmation-tabs .v-item-group {
    margin-left: auto;
}

label {
    font-size: 20px !important;
    color: var(--font-color) !important;
}

.v-input--switch {
    label {
        margin: 0 !important;
    }
}

.v-tab, .v-btn {
    font-size: 20px !important;
    font-weight: 300 !important;
    letter-spacing: normal !important;
    text-transform: none !important;
}

.programmation-period .v-btn {
    font-size: 12px !important;
}

.theme--light.v-application {
    background: var(--background-color) !important;
    font-family: var(--font-family) !important;
    line-height: normal !important;
    letter-spacing: normal !important;
}

.headline {
    font-family: var(--font-family) !important;
    letter-spacing: normal !important;
}

.v-expansion-panel {
    &::before {
        box-shadow: none !important;
    }

    &::after {
        border: none !important;
    }

    .v-expansion-panel-header, 
    .v-expansion-panel-content__wrap {
        padding: 0 !important;
    }

    .v-expansion-panel-header__icon i {
        font-size: 16px !important;
    }
}


.v-data-table {
    border: 1px solid var(--border-color);
    border-radius: 4px !important;

    .v-data-table__wrapper {
        border-radius: 4px !important;
    }
    
    .v-data-table-header {
        background-color: var(--background-accent);

        th {
            border-bottom: 1px solid var(--border-color) !important;
            padding: 20px !important;

            i {
                margin-left: 5px;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 20px !important;
            }
        }
    }
}

.form-control:disabled, .form-control[readonly] {
    background-color: var(--background-color) !important;
}

.v-data-table {
    background-color: var(--background-color) !important;
    color: var(--font-color) !important;
    
    .v-data-table-header {
        background-color: var(--background-color) !important;
        
        th {
            color: var(--font-color) !important;
            font-size: 15px !important;
            font-weight: 400 !important;
        }
    }

    tbody tr:hover {
        background: var(--background-accent) !important;
    }
}

.v-pagination li {
    .v-pagination__more {
        color: var(--font-color) !important;
    }

    button {
        box-shadow: none !important;
        
        &:not(.v-pagination__item--active) {
            color: var(--font-color) !important;
            background-color: var(--background-color) !important;
        }
    
        .v-icon {
            color: var(--font-color) !important;
        }
    
        &.v-pagination__navigation--disabled {
            .v-icon {
                color: var(--background-accent) !important;
            }
        }
    }
}

.nav-link.dropdown-toggle::after {
    display: none !important;
}

img[style*="float: left"] { margin: 5px 15px 0px 0px; } img[style*="float: right"] { margin: 5px 0px 0px 15px; }

.v-picker__body {
    background-color: var(--background-color) !important;

    .v-date-picker-years {
        color: var(--font-color) !important;
    }

    .v-date-picker-header {
        .v-date-picker-header__value {
            button {
                color: var(--font-color) !important;
    
                &:hover {
                    color: var(--primary-color) !important;
                }
            }
    
        }

        .v-btn {
            .v-icon {
                color: var(--font-color) !important;
            }
        }
    }

    .v-date-picker-table {
        thead tr th {
            color: var(--font-color) !important;
        }

        tbody {
            .v-btn {
                color: var(--font-color) !important;

                &.v-date-picker-table__current, &.v-btn--active {
                    background-color: var(--primary-color) !important;
                    border-color: var(--primary-color) !important;
            
                    &::before {
                        opacity: 0 !important;
                    }
                }
            }
        }
    }
}

small.text-muted {
    color: var(--font-color) !important;
    font-size: 100% !important;
    display: inline-block;
}

small.text-danger {
    color: var(--red-color) !important;
    font-size: 100% !important;
}

.holiday-content {
    .v-card__text {
        color: var(--font-color) !important;

        p:last-child {
            margin-bottom: 0 !important;
        }
    }
}