:root {
    --font-family: 'Oswald', sans-serif;
    --white-color: #fff;
    --red-color: #d63031;
    --black-color: #212121;
}

body:not(.dark-mode) {
    --font-color: #212121;
    --background-color: #fff;
    --background-accent: #f9fafc;
    --primary-color: #2b60ac;
    --border-color: rgba(0, 0, 0, 0.12);
}

body.dark-mode {
    --font-color: #fff;
    --background-color: #282828;
    --background-accent: rgba(255, 255, 255, 0.12);
    --primary-color: #2b60ac;
    --border-color: rgba(255, 255, 255, 0.12);
}