#programmation-component {
    * {
        transition: background-color 0s !important;
    }

    .v-toolbar {
        background-color: var(--background-color);

        .v-btn.v-btn--icon {
            color: var(--font-color) !important;
        }

        .v-btn.v-btn--disabled {
            background-color: var(--background-accent) !important;
        }

        .month-hint {
            color: var(--font-color);
            white-space: nowrap;
            font-size: 18px;
            font-weight: 400;
        }

        .calendar-title {
            white-space: nowrap;
            color: var(--font-color);
            
            .v-icon {
                color: var(--font-color);
            }
        }

        .v-divider {
            border-color: var(--border-color) !important;
        }
    }

    .v-slide-group__prev, 
    .v-slide-group__next {
        display: none !important;
    }
}