#programmation-component {
    .time-divider {
        display: flex;
        align-items: center;

        &::after {
            content: "";
            display: block;
            flex: auto;
            height: 1px;
            margin-left: 30px;
            margin-top: 1px;
            background-color: #e4e4e4;
        }
    }

    .v-slide-group__prev, 
    .v-slide-group__next {
        display: none !important;
    }
}