#programmation-caption-component {
    margin: 20px 0;

    .caption-wrapper {
        margin-top: 10px;

        .caption-item {
            display: flex;
            align-items: center;
            padding-top: 3px;
            padding-bottom: 3px;
            font-weight: 600;
            border-radius: 3px;

            img {
                filter: var(--icon-filter)
            }
        }
    }
}