.auth-layout {
    .navbar {
        box-shadow: none !important;
        background-color: var(--background-color);

        .navbar-toggler {
            color: var(--font-color) !important;
        }

        .container-fluid {
            border-bottom: 1px solid var(--border-color);
        }

        .navbar-brand {
            color: var(--font-color);
            font-size: 20px !important;
            font-weight: 400 !important;
        }

        .nav-item {
            font-weight: 300;
            font-size: 18px;

            .nav-link {
                color: var(--font-color);

                &:hover, &.active {
                    color: var(--primary-color);
                }
            }

            &:nth-last-child(2) {
                border-right: 1px solid var(--border-color);
                margin-right: 10px;
                padding-right: 10px;
            }
        }

        #navbarDropdown {
            display: flex;
            align-items: center;
            color: var(--font-color);

            .avatar {
                position: relative;
                display: inline-block;

                img {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                }
            }
    
            .username {
                display: inline-block;
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &::after {
                margin-left: 10px;
            }
        }

        .dropdown-menu {
            border-radius: 0;
            min-width: 14rem;    
            border: none;
            padding-top: 1rem !important;
            padding-bottom: 0.3rem !important;
            background-color: var(--background-color);
            
            .dropdown-item {
                padding-top: 0.7rem;
                padding-bottom: 0.7rem;
                color: var(--font-color);
                display: flex;
                align-items: center;
                
                i {
                    margin-right: 1rem;
                }
                
                &:hover, &:active, &.active {
                    background-color: var(--background-color);
                    color: var(--primary-color);
                }
            }

            .dropdown-divider {
                border-top: 1px solid var(--border-color);
            }
        }

        @media (min-width: 480px) {
            .dropdown:hover .dropdown-menu {
                display: block;
                margin-top: 0;
                opacity: 1;
            }
        }
    }

    main {
        margin-bottom: 50px;
    }

    footer {
        position: absolute;
        background-color: var(--background-color);
        bottom: 0;
        left: 0;
        width: 100%;
        color: var(--font-color);
    }
}

@include media-breakpoint-down(sm) {
    .auth-layout {
        .nav-item {
            &:nth-last-child(2) {
                border-right: none !important;
                margin-right: 0 !important;
                padding-right: 0 !important;
            }
        }

        footer {
            .container-fluid {
                padding-bottom: 15px !important;
                
                & > div:first-of-type {
                    justify-content: center !important;
                }
            }
        }
    }
}