.auth-layout {
    .navbar {
        box-shadow: 0 3px 16px rgb(0 0 0 / 2%) !important;

        .nav-item {
            .nav-link {
                color: var(--dark);

                &:hover, &.active {
                    color: $blue;
                }
            }

            &:nth-last-child(2) {
                border-right: 1px solid #e9ecef;
                margin-right: 10px;
                padding-right: 10px;
            }
        }

        #navbarDropdown {
            display: flex;
            align-items: center;
            color: var(--dark);

            .avatar {
                position: relative;
                display: inline-block;

                img {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                }

                &::after {
                    content: attr(badge);
                    width: 20px;
                    height: 20px;
                    top: 0;
                    position: absolute;
                    text-align: center;
                    background-color: $red;
                    border-radius: 50%;
                    font-size: 12px;
                    color: #fff;
                    left: 0;
                    margin-left: -5px;
                    padding: 1px 0;
                }
            }
    
            .username {
                display: inline-block;
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &::after {
                margin-left: 10px;
            }
        }

        .dropdown-menu {
            border-radius: 0;
            min-width: 14rem;    
            border: none;
            padding-top: 1rem !important;
            padding-bottom: 0.3rem !important;
            
            .dropdown-item {
                padding-top: 0.7rem;
                padding-bottom: 0.7rem;
                color: var(--dark);
                display: flex;
                align-items: center;

                i {
                    margin-right: 1rem;
                }

                &:hover, &:active, &.active {
                    background-color: #fff;
                    color: $blue;
                }
            }
        }

        @media (min-width: 480px) {
            .dropdown:hover .dropdown-menu {
                display: block;
                margin-top: 0;
                opacity: 1;
            }
        }
    }
}